@import "../../styles.scss";

.nav {
    a {
        margin: 0;
        display: flex;
        width: 90%;
        text-decoration: none;
        padding: 5% 5%;
        justify-content: flex-start;
        align-items: center;
    }
    img {
        width: 10vw;
        height: 10vw;
    }

    p {
        font-size: 5vw;
        color: $title-secondary;
        font-family: 'Kanit';
        font-weight: 300;
        margin: 0 0 0 5vw;
    }
}

.slide-from-top {
    &-0 {
      transition: all ease 0.2s;
      transform: translateY(-100%);
      opacity: 0;
    }
    &-100 {
      transition: all  ease 0.2s;
      opacity: 1;
      transform: translateY(0);
    }
}


@media (min-width:961px)  {
    .nav { 
        a {
            padding: 1% 1%;
        }
        p {
            font-size: 1vw;
            margin: 0 0 0 1.5vw;
        }
        img {
            width: 2vw;
            height: 2vw;
        }
    }

}